* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	
}

.container{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
}


header{
    padding: 25px 0px;
    margin-bottom: 50px;
    width: 100%;
    background-color: #111b45;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.6);
}
