.destinos-card {
	display: flex;
	justify-content: center;
	padding: 20px;
}


.card {
	width: 205px;
	display: grid;
	grid-template-columns: 205px;
	grid-template-rows: 150px 155px 50px;
	grid-template-areas: "imagem" "texto" "detalhes";
	font-family: "Hind", sans-serif;
	border-radius: 18px;
	background: white;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
	text-align: center;
	transition: 0.5s ease;
	cursor: pointer;
	margin: 10px;
}

.imagem-card {
	grid-area: imagem;
	width: 100%;
	height: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.texto-card {
	grid-area: texto;
	margin: 10px;
}

.icone-card {
	height: 14%;
}

.texto-card h2 {
	margin-top: 0px;
	margin-bottom: 6px;
	font-size: 1.3em;
}

.texto-card p {
	color: gray;
	font-size: .8em;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 8px;
}

.detalhes-card {
	grid-area: detalhes;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 1fr;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: #ff076e;
}

.detalhes, .selecionar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;	
	user-select: none;
}

.selecionar:hover {
	color: #c9c9c9;
}

.selecionar:active {
	background-color: #c20453;
	border-bottom-right-radius: 15px;
}

.tipo {
	font-size: .7em;
	font-weight: 300;
	text-transform: uppercase;
}

.valor {
	margin-top: 5px;
	font-size: .7em;
	font-weight: 500;
}

.borda {
	border-left: 1px solid #ac1a57;
	border-right: 1px solid #ac1a57;
}

.card:hover {
	transform: scale(1.1);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}



