.destinos-card {
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: 313px;
	display: grid;
	grid-template-columns: 313px;
	grid-template-rows: 180px 150px 56px 53px;
	grid-template-areas: "imagem" "texto" "moeda" "botao";
	border: 2px solid #e8e8e8;
	border-radius: 18px;
	background: white;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}

.imagem-card {
	grid-area: imagem;
	width: 99%;
	height: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.texto-card {
	grid-area: texto;
	margin-left: 24px;
	margin-right: 10px;
}

.texto-card h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0;
}

.texto-card p {
	font-size: 14px;
}

.span-card {
	font-weight: bold;
}

.moeda-card {
	grid-area: moeda;
	display: flex;
	flex-direction: row;
	width: 310px;
	background-color: #e8e8e8;
}

.moeda-card span {
	font-size: 12px;
}

.icone-moeda {
	width: 12px;
	height: 15px;
}

.icone-dinheiro {
	width: 15px;
	height: 15px;
}

.moeda, .valor {
	margin-left: 24px;
	display: flex;
	align-items: center;
}





.botao-saiba-mais {
	grid-area: botao;
}

