.destinos-card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.card {
	width: 313px;
	display: grid;
	grid-template-columns: 313px;
	grid-template-rows: 180px 190px 56px 53px;
	grid-template-areas: "imagem" "texto" "moeda" "botao";
	border: 2px solid #f6f6f6;
	border-radius: 18px;
	background: white;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}

.imagem-card {
	grid-area: imagem;
	width: 100%;
	height: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.texto-card {
	grid-area: texto;
	margin-left: 24px;
}

.texto-card h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0;
}

.texto-card p {
	font-size: 13px;
}

.span-card {
	font-weight: bold;
}

.moeda-card {
	grid-area: moeda;
	display: flex;
	flex-direction: row;
	background-color: #f6f6f6;
}

.moeda-card span {
	font-size: 10px;
}

.icone-moeda {
	width: 9px;
	height: 12px;
}

.icone-dinheiro {
	width: 12px;
	height: 12px;
}

.botao-saiba-mais {
	grid-area: botao;
}

