.container-travolta {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.2em;
}

.img-travolta {
	width: 450px;
	height: 225px;
	margin-left: auto;
	margin-right: auto;
}

#h1-travolta {
	font-size: 1.4em;
	text-align: center;
	margin: 20px 0;
	color: #1b1b35;
}

.p-travolta {
	text-align: center;
	color: #1c164e;
	margin: 0px;
}