#banner {
	display: flex;
	justify-content: center;
}

.banner {
	width: 1440px;
	height: 360px;
}

.texto-alternativo {
	display: none;
}

.intro-index {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 50px 64px 8px 64px;
}

.intro-index h1 {
	font-size: 24px;
	margin-bottom: 0px;
}

#btn-ver-mais {
	border: 2px solid #3b9cb7;
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	width: 171px;
	height: 37px;
	color: #3b9cb7;
}

#btn-ver-mais:hover {
	background-color: #3b9cb7;
	color: #ffffff;
}

.pacotes {
	display: flex;
	flex-direction: row;
	margin-left: 64px;
}

.pacotes img {
	width: 598px;
	height: 220px;
	border-radius: 8px;
	margin-right: 8px;
	opacity: 0.9;
}

.pacotes img:hover {
	opacity: 1;
	cursor: pointer
}
