.intro {
	display: flex;
	flex-direction: row;
	margin: 40px auto;
	align-items: flex-start;
}

.img-intro {
	border-radius: 8px;
	width: 540px;
    height: 310px;
}

.texto-intro {
	padding-left: 20px;
}

.h1-intro {
	font-size: 48px;
	font-weight: bolder;
	margin-top: 2px;
}

.p-intro {
	font-size: 16px;
	color: #4a4a4a;
	line-height: 22px;
}

.span-intro {
	font-weight: bold;
}

.div-intro {
	background-color: lightgray;
	border: 1px solid lightgray;
	width: 120px;
}

.botao-calcular {
	display: flex;
	align-items: center;
	width: 313px;
	height: 54px;
	border: 1px solid #3b9cb7;
	background-color: #3b9cb7;
	color: white;
	font-size: 18px;
	border-radius: 4px;
}