/* Para celular */
@media screen and (min-width : 320px) {
	/*header*/

	.logo {
		margin-left: 10px;
	}

	.menu-desktop ul li {
		width: 112px;
	}
	


	/* Index.html*/
	.intro {
		display: flex;
		flex-direction: column;
		margin: 40px auto 40px 64px;
	}

	.destino {
		display: none;
	}
	
}

/* Para tablet */
@media screen and (min-width : 768px) {

	.intro {
		display: flex;
		flex-direction: column;
		margin: 40px auto 40px 64px;
	}
}