/* Para celular */
@media screen and (max-width: 480px) {

	/* Index.html*/
	.intro {
		display: flex;
		flex-direction: column;
		margin: 40px auto 40px 64px;
	}

	.destino {
		display: none;
	}
	
}

/* Para tablet */
@media screen and (max-width: 800px) {

	.intro {
		display: flex;
		flex-direction: column;
		margin: 40px auto 40px 64px;
	}
}