
/* Para celular */
@media screen and (max-width: 480px) {

	/* Index.html */
	#header-index, #header-nzn, #header-canada, #header-portugal, #header-japao {
		margin: 0px;
	}

	h1 {
		font-size: 38px;
		text-align: center;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}

	#btn-mais-opcoes {
		display: none;
	}

	.ver-mais {
		justify-content: center;
		margin: 0px;
	}

	.h2-home {
		text-align: center;
		margin: 0 0 8px 0;
	}

	.destino {
		display: none;
	}

	.menu-desktop {
		display: flex;
		flex-wrap: wrap;
	}

	.menu-desktp ul {
		margin-right: 30px;
	}

	/* Destinos */
	
}

/* Para tablet */
@media (min-width: 600px) {
	h1 {
		font-size: 58px;
	}
}
