* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: auto 180px auto 180px;
}

header {
	width: auto;
	height: 70px;
	background-color: lightgray;
}

h1 {
	font-size: 62px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 56px;
	font-weight: bold;
	margin-top: 3px;
}
#dias {
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	font-size: 120%;
}

#dias:focus {
	outline: none;
	box-shadow: 0 0 0 2px #111b45;
}

label[for="dias"] {
}

.icones {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icones p {	
	font-size: 34px;
	font-weight: bold;
	padding: 3px;
	margin-left: 5px;
}

.icone-aviao {
	height: 37px;
}
