* {
	border-size: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: auto 117px auto 117px;
}

header {
	width: auto;
	height: 70px;
	background-color: lightgray;
}

section h1 {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}						

#dias {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	font-size: 120%;
}

#dias:focus {
	outline: none;
	box-shadow: 0 0 0 2px #111b45;
}

label[for="dias"] {
}

.pergunta {
	padding: 10px;
}

.pergunta img {
	width: 290px;
	height: 180px;
	border-radius: 20px;
	margin: 5px;
	cursor: pointer;
}

section div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

p:nth-child(2) {
	color: red;
	text-align: center;
}

input[type="radio"], input[type="checkbox"] { 
	display: none;
}

input[type="radio"]:not(:checked) + label, 
input[type="checkbox"]:not(:checked) + label {
	opacity: 0.6;
}

input[type="radio"]:checked + label, 
input[type="radio"]:hover + label,
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:hover + label {
	opacity: 1;
	
}

input[type="radio"]:checked + label > img, 
input[type="checkbox"]:checked + label > img {
	box-shadow: 0 0 0 3px #111b45;
}


.esconder {
	display: none;
}