* {
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
	position: relative;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #2a2a2a;
}

a:link, a:visited {
	text-decoration: none;
}

#resultado {
	text-align: center;
	font-size: 22px;
	line-height: 30px;
}

.esconder {
	display: none;
}

.validacao {
	text-align: center;
	background-color: #ffdbdb;
}

.botao-calcular {
	margin-left: 116px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 313px;
	height: 54px;
	border: 1px solid #3b9cb7;
	background-color: #3b9cb7;
	color: white;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
}

.botao-calcular:hover {
	background-color: #2b7286;
	border: 1px solid #2b7286;
}

#n-dias {
	color: #2b7286;
}

#moeda-local, #moeda-br, #n-dias {
	font-weight: bold;
}

.btn-topo {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}