* {
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
	position: relative;
}

body {
	font-family: 'Montserrat', sans-serif;	
}

#tela-index {
	background-image: url("../assets/bg-home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#header-index, #header-nzn, #header-canada, #header-portugal, #header-cancun, #header-japao {    
    margin: 0 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
	font-family: 'Poppins', sans-serif;
	box-shadow: 0 8px 6px -6px #e9e9e9;
}

#header-index {
	background-color: rgba(125, 138, 158, 0.4);
	box-shadow: 3px 3px 50px rgba(114, 113, 174, 0.9);
}

.logo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100px;
	font-family: 'Poppins', sans-serif;
	margin-left: 6px;
}

.p-logo {
	text-align: left;
	margin-left: 5px;
	color: #312000;
}

.logo img{
	display: inline;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.aero {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

.world {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 15px;
}

.menu-desktop {
	display: flex;
	align-items: center;
}

.menu-desktop ul {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
}

.menu-desktop ul li {
    width: 160px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;   
}

.destino {
	color: #312000;
}

.entrar {
	border: 1px solid #3b9cb7;
	background-color: #3b9cb7;
	border-radius: 4px;
	cursor: pointer;
}

.entrar:hover {
	background-color: #2b7286;
}

.btn-entrar {
	color: white;
}

h1 {
	margin-top: 120px;
	font-size: 62px;
	font-weight: bold;
	text-align: center;
	margin-left: 9%;
}

.ver-mais {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 9%;	
}

#btn-mais-opcoes {
	color: rgb(1, 5, 0);
	background-color: #c2d5af;
	font-weight: bold;
	border-radius: 4px;
	width: 170px;
	height: 30px;
	outline: none;
}

.h2-home {
	font-size: 23px;
	font-weight: bold;
	margin: 0 auto 0 10%;
}

a:link, a:visited {
	text-decoration: none;
}

p.info {
	font-size: 15px;
	font-weight: bold;
	bottom: 0px;
	color: black;
}

.info {
	left: 10px;
	text-align: left;
	padding: 5px;
}

#resultado {
	color: black;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}

.moeda {
	display: inline-block;
	margin: 20px;
	font-size: 150%;
}

.esconder {
	display: none;
}

.destinos-card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.card {
	width: 260px;
	display: grid;
	grid-template-columns: 260px;
	grid-template-rows: 180px 190px 60px;
	grid-template-areas: "imagem" "texto" "detalhes";
	font-family: "Hind", sans-serif;
	border-radius: 18px;
	background: white;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
	text-align: center;
	transition: 0.5s ease;
	cursor: pointer;
	margin: 10px;
}

.imagem-card {
	grid-area: imagem;
	width: 100%;
	height: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.texto-card {
	grid-area: texto;
	margin: 10px;
}

.icone-card {
	height: 14%;
}

.texto-card h2 {
	margin-top: 0px;
	margin-bottom: 6px;
	font-size: 1.3em;
	text-align: center;
	margin-left: 0;
}

.texto-card p {
	color: gray;
	font-size: .9em;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 8px;
}

.detalhes-card {
	grid-area: detalhes;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 1fr;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

/*
.voltarTopo{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.voltarTopo img{
	width: 25px;
	height: 25px;
}

.voltarTopo button{
	width: 50px;
	height: 50px;
    padding: 13px;
    border-radius: 3px;
    border: 1px solid #111b45;
    background-color: #220a30;
    color: white;
    cursor: pointer;
}

.voltarTopo button:hover{
    background-color: #111b45;
    border: 1px solid #220a30;
}
*/

.detalhes, .link-destino {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;	
	user-select: none;
}

.link-destino {
	color: rgb(17, 17, 17);
}

.link-destino:hover {
	color: #c9c9c9;
}

.link-destino:active {
	border-bottom-right-radius: 15px;
}

/*Cores da Carta do Canadá*/

.cor-canada {
	background-color: #ff076e;
}

.cor-canada .link-destino:active {	
	background-color: #ac1a57;
}

.cor-canada .borda {	
	border-left: 1px solid #ac1a57;
	border-right: 1px solid #ac1a57;
}

/*Cores da Carta da Nova Zelândia*/

.cor-nz {
	background-color: #ff4d07;
}

.cor-nz .link-destino:active {
	background-color: #c93900;
}

.cor-nz .borda {
	border-left: 1px solid #c93900;
	border-right: 1px solid #c93900;
}

/*Cores da Carta do Japão*/

.cor-japao {
	background-color: #00bd3f;
}

.cor-japao .link-destino:active {
	background-color: #007326;
}

.cor-japao .borda {
	border-left: 1px solid #007326; 
	border-right: 1px solid #007326;
}

/*Cores da Carta de Portugal*/

.cor-portugal {
	background-color: #0e97b3;
}

.cor-portugal .link-destino:active {
	background-color: #0b7085;
}

.cor-portugal .borda {
	border-left: 1px solid #0b7085; 
	border-right: 1px solid #0b7085;
}

/*Cores da Carta de Cancun*/

.cor-cancun {
	background-color: #c663ff;
}

.cor-cancun .link-destino:active {
	background-color: #c663ff;
}

.cor-cancun .borda {
	border-left: 1px solid #36273f;
	border-right: 1px solid #36273f;
}

.tipo {
	font-size: .8em;
	font-weight: 300;
	text-transform: uppercase;
}

.valor {
	margin-top: 5px;
	font-size: .7em;
	font-weight: 500;
}


.card:hover {
	transform: scale(1.1);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.link-destino:link {
  text-decoration: none;
}

/* Estilo telas-destinos*/

#intro, .intro, #h2-intro {
	text-align: center;
	margin-left: 0%;
}

#intro {
	margin-top: 5%;
}

#h2-intro {
	font-size: 30px;
}

.intro {
	font-size: 20px;
}

.h2-icone {
	font-size: 25px;
}

.icones {
	flex-direction: row;
	align-items: center;
}

.icones p {	
	font-size: 20px;
	font-weight: bold;
	padding: 3px;
	margin: 0%;
}

.planejamento {
	font-size: 20px;
	font-weight: bold;
}

.icone-aviao {
	height: 37px;
}

.icone-hotel {
	height: 40px;
}

.icone-restaurante {
	height: 33px;
}

.icone-transporte {
	height: 35px;
}

.icone-passeio {
	height: 49px;
}

.opcoes {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin-bottom: 4%;
}

#dias {
	margin-left: auto;
	margin-right: auto;	
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	font-size: 120%;
}

#dias:focus {
	outline: none;
	box-shadow: 0 0 0 2px #111b45;
}

label {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label span {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.resposta {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.resposta img {
	width: 290px;
	height: 180px;
	border-radius: 20px;
	cursor: pointer;
	margin: 5px;
}

input[type="radio"], input[type="checkbox"] { 
	display: none;
}

input[type="radio"]:not(:checked) + label, 
input[type="checkbox"]:not(:checked) + label {
	opacity: 0.6;
}

input[type="radio"]:checked + label, 
input[type="radio"]:hover + label,
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:hover + label {
	opacity: 1;	
}

input[type="radio"]:checked + label > img, 
input[type="checkbox"]:checked + label > img {
	box-shadow: 0 0 0 2px #111b45;
}

#btnCalcular {
	text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	padding: 15px;
	width: 20%;
	background-color: #10172e;
	color: #ffffff;
	transition: 0.6s background-color;						
	cursor: pointer;
	outline: none;
}

.botao-calcular {
	display: flex;
	justify-content: center;
}

#btnCalcular:hover, #btnCalcular:active {
	background-color: #021600;
}

#btnCalcular:active {
	box-shadow: 0 0 0 2px #220a30;
	font-weight: bolder;
}

#body-travolta {
	background-color: #f4eae6;
}

#header-travolta {
	background-color: #f4eae6;
    width: 86%;
    margin: 0 auto;
    text-align: center;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
	border-radius: 18px;
}

.container-travolta {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img-travolta {
	width: 450px;
	height: 225px;
	margin-left: auto;
	margin-right: auto;
}

#h1-travolta {
	font-size: 36px;
	text-align: center;
	margin: 20px 0;
	color: #1b1b35;
}

.p-travolta {
	text-align: center;
	color: #1c164e;
	margin: 0px;
}


/* Para celular */
@media screen and (max-width: 480px) {

	/* Index.html*/
	#header-index, #header-nzn, #header-canada, #header-cancun, #header-portugal, #header-japao {
		margin: 0px;
	}

	h1 {
		font-size: 38px;
		text-align: center;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}

	.intro h1 {
		font-size: 35px;
	}

	.intro p {
		margin: 10px;
	}

	#h2-intro {
		margin-bottom: 20px;
	}

	#btn-mais-opcoes {
		display: none;
	}

	.ver-mais {
		justify-content: center;
		margin: 0px;
	}

	.h2-home {
		text-align: center;
		margin: 0 0 8px 0;
	}

	.h2-icone {
		margin: 20px 5px;
	}

	.destino {
		display: none;
	}

	.menu-desktop {
		display: flex;
		flex-wrap: wrap;
	}

	.menu-desktp ul {
		margin-right: 30px;
	}

	.icone-aviao {
		margin-top: 30px;
	}

	.planejamento p {
		margin: 0px;
	}

	#btnCalcular {
		width: 54%;
		margin-top: 20px;
		margin-bottom: 15px;
	}

	#dias {
		text-align: center;
	}	

	/* Destinos */
	
}

/* Para tablet */
@media (min-width: 600px) {

	h1 {
		font-size: 58px;
	}

	.intro h1 {
		margin-top: 70px;
	}

	#h2-intro {
		font-size: 50px;
		margin-bottom: 30px; 
	}

	.intro p {
		font-size: 30px;
		margin: 5px 40px;
		padding: 5px;
	}

	#dias {
		text-align: center;
	}

	.planejamento p {
		margin: 0px;
	}

	.icone-aviao {
		margin-top: 30px;
	}

}


